body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.left {
    flex: 1;
    max-width: 50%;
    overflow: hidden;
}

.left img {
    width: 100%;
    height: auto;
}

.right {
    flex: 1;
    padding: 0 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    outline: none;
    /*去除蓝色边框*/
    resize: none;
    /*禁止拖拽*/

}

input[type="radio"] {
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: #d1478e;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.active {
    border: 1px solid #d87224;
}

.form-group .message p {
    float: right;
    margin-right: 5px;
    font-size: 18px;
    text-align: center;
}

.form-group .message p span {
    font-weight: normal;
    margin-left: 5px;
}